/* General */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html {
  background-color: #212529;
}

.form-control, .btn {
  box-shadow: none !important;
  outline: none !important;
}

/* toastContainer */
.toastContainer {
  background-color: rgba(0, 0, 0, 1);
  z-index: 1;
}

.accordion {
  z-index: 0;
}